body {
    font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapertag.com%2Fwallpaper%2Ffull%2Fd%2F7%2F4%2F419810-large-studio-ghibli-wallpapers-3840x2160-720p.jpg&f=1&nofb=1");
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.buttons {
    width: 60%;
    max-width: 920px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.card {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 600px;
    background: orange;
    border-radius: 3vw;
}

.description {
    width: 90%;
}



